<footer>
    <ul>
        <li><button><a href="/users/new">DEV: New User</a></button></li>
        <li class="navitem"><button><a href="/users/login">Log In</a></button></li>    
        <li><form action="/logout/?_method=DELETE" method="POST"><button type="submit">Log Out</button></form></li>  
    </ul>
</footer>

