<footer>
    <ul>
        <li><button><a href="/users/new">DEV: New User</a></button></li>
        <li class="navitem"><button><a href="/login">Log In</a></button></li>    
        <li><a href="/logout"><button>Log Out</button></a></li>  
    </ul>
</footer>

