<nav>
    <ul>
        <% for (let user of users) { %> 
            <li class="navitem"><a href="/users/<%= user._id %>"><%= user.displayName %> </a></li>
        <% } %> 
        <li class="navitem"><a href="">Collab Blog</a></li>
        <li class="navitem"><a href="">Gallery</a></li>
        <li class="navitem"><a href="">Contact</a></li>
    </ul>
</nav>