<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Blog Home</title>
</head>
<body>
    <%- include('./partials/header') %> 
    <%- include('./partials/nav') %> 
</body>
</html>