<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">
    <title>Blog Home</title>
</head>
<body>
    <%- include('./partials/header') %> 
    <%- include('./partials/nav') %>
    <main>
        <div class="gallery box">Gallery</div>
        <div class="hero box">Hero</div>
    </main>
</body>
</html>