<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h1>Edit an Author</h1>
    
    <form action="/users/<%= user._id %>/?_method=PUT" method="POST">
        
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" value="<%= user.username %> ">

        <!-- <label for="password">Password</label>
        <input type="password" name="password" id="password"> -->
        <label for="displayName">displayName</label>
        <input type="text" name="displayName" id="displayName" value="<%= user.displayName %> ">

        <button type="submit">Submit</button>

    </form>

</body>
</html>