.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}
.gallery img {
    max-width: 300px;
    max-width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid white
}