.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.gallery img {
    margin: 10px;
    border-radius: 5px;
    border: 2px solid white;
    flex-grow: 1;
}