main {
    display: flex;
    width: 90%;
    height: 80%;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.hero {
    flex-grow: 2;
    overflow: auto;
    max-width: 300px;
    display: flex;
}
.gallery {
    flex-grow: 3;
    overflow: auto;
}
.hero p {
    margin: 10px;
}
.hero h3, h6{
    text-shadow: 1px 1px purple;
}
.hero article {
    display: flex;
    flex-direction: column;
    align-items: center;
}