<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/gallery.css">
    <title>Gallery</title>
</head>
<body>
    <%- include('../partials/header') %>

        <h1>Gallery</h1>
    <div class="gallery">
    <% for (let image of images) { %>
        <img src="<%= image.url %>" alt="">
  <%  } %> </div>
</body>
</html>